.container .header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  position: relative; }
  .container .header .name-1 {
    font-size: 18px;
    letter-spacing: 0px;
    line-height: 24px;
    font-weight: 600;
    font-family: "Raleway";
    text-align: center;
    margin: 20px; }
  .container .header .name-2 {
    font-size: 60px;
    line-height: 66px;
    color: #ffcc00;
    font-weight: 900;
    font-family: "Roboto";
    text-align: center;
    padding-bottom: 30px;
    border-bottom: 2px solid  #FFCC00;
    width: 400px; }
  .container .header .square {
    width: 35px;
    height: 35px;
    background-color: white;
    position: absolute;
    top: 150px; }
  .container .header .icons {
    color: #ffcc00;
    font-size: 20px;
    text-align: center; }

.container .wrap {
  display: flex;
  justify-content: center;
  align-items: center; }
  .container .wrap .left {
    color: #FFCC00;
    font-size: 32px; }
  .container .wrap .main {
    display: flex;
    align-content: center;
    justify-content: space-between;
    margin: 0 40px; }
    .container .wrap .main .part-1 {
      display: flex;
      align-items: center;
      margin-right: 50px;
      padding-right: 50px;
      border-right: 2px solid #ffcc00; }
      .container .wrap .main .part-1 .border {
        width: 419px;
        height: 419px;
        border: 1px solid #ffcc00;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative; }
        .container .wrap .main .part-1 .border .boy {
          z-index: 2;
          border: 1px solid #ffcc00; }
        .container .wrap .main .part-1 .border .wertikal {
          width: 209px;
          height: 421px;
          background-color: white;
          position: absolute;
          left: 50%;
          transform: translate(-50%, 0); }
        .container .wrap .main .part-1 .border .horizontal {
          width: 421px;
          height: 209px;
          background-color: white;
          position: absolute;
          top: 50%;
          transform: translate(0, -50%); }
    .container .wrap .main .part-2 {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-top: 100px; }
      .container .wrap .main .part-2 .top-big {
        font-size: 36px;
        letter-spacing: 1px;
        line-height: 24px;
        color: #666666;
        font-weight: 900;
        font-family: "Roboto";
        text-align: center;
        margin-bottom: 30px; }
      .container .wrap .main .part-2 .linie {
        width: 150px;
        height: 2px;
        text-align: center;
        background-color: #FFCC00;
        margin-bottom: 20px;
        margin-left: 120px; }
      .container .wrap .main .part-2 .top-main {
        font-size: 24px;
        line-height: 36px;
        color: #666666;
        font-weight: 400;
        font-family: "Raleway";
        text-align: center;
        margin-bottom: 27px; }
      .container .wrap .main .part-2 .gallery {
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 150px;
        margin: 0 auto 30px auto; }
        .container .wrap .main .part-2 .gallery .circle {
          height: 25px;
          width: 25px;
          border-radius: 80%;
          background-color: white;
          border: 2px solid gray;
          display: flex;
          align-items: center;
          justify-content: center; }
      .container .wrap .main .part-2 .text {
        width: 420px;
        height: 121px;
        font-size: 14px;
        line-height: 24px;
        color: #333333;
        font-weight: 500;
        font-family: "Raleway";
        text-align: center;
        margin: 0 auto 51px auto; }
      .container .wrap .main .part-2 .dashed {
        margin-bottom: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 20px;
        font-size: 64px; }
        .container .wrap .main .part-2 .dashed .el-1 {
          background-color: #FFCC00;
          width: 15px;
          height: 3px;
          margin-right: 5px; }
        .container .wrap .main .part-2 .dashed .el-2 {
          background-color: #FFCC00;
          width: 25px;
          height: 3px;
          margin-right: 5px; }
        .container .wrap .main .part-2 .dashed .el-3 {
          background-color: #FFCC00;
          width: 15px;
          height: 3px; }
      .container .wrap .main .part-2 .fut-but {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 150px; }
        .container .wrap .main .part-2 .fut-but button {
          font-size: 14px;
          line-height: 24px;
          color: #666666;
          font-weight: 700;
          font-family: "Open Sans";
          text-transform: uppercase;
          border-color: #ffcc00; }
  .container .wrap .right {
    color: #FFCC00;
    font-size: 32px; }

.container .footer {
  display: flex;
  justify-content: space-around;
  width: 50px;
  margin: 20px auto; }
  .container .footer .round-1 {
    width: 11px;
    height: 11px;
    background-color: #FFCC00;
    border-radius: 10px; }
  .container .footer .round-2 {
    width: 11px;
    height: 11px;
    background-color: white;
    border: 1px solid #FFCC00;
    border-radius: 10px; }
  .container .footer .round-3 {
    width: 11px;
    height: 11px;
    background-color: #FFCC00;
    border-radius: 10px; }

@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway-Regular.ttf"); }

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.ttf"); }

@font-face {
  font-family: "OpenSans-Regular";
  src: url("../fonts/OpenSans-Regular.ttf"); }
