
@import '1.scss';
@font-face {
    font-family: "Raleway";
    src: url("../fonts/Raleway-Regular.ttf");
}
@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto-Regular.ttf");
}
@font-face {
    font-family: "OpenSans-Regular";
    src: url("../fonts/OpenSans-Regular.ttf");
}

